APP_NAME=exampleName
DEBUG=True_Or_False
DATABASE_URL=postgresql+asyncpg://login:password@host:port/db_name
REDIS_URL=redis://host:6379

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

JWT_SECRET=secretPasswordhere
JWT_ALGORITHM=algorithm
JWT_EXPIRE_MIN=time_in_min